# Port 443
# AllowUsers ec2-user
LogLevel VERBOSE
SyslogFacility AUTHPRIV

PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
UsePAM yes

# PubkeyAuthOptions verify-required

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
MACs hmac-sha2-512-etm@openssh.com,,hmac-sha2-256-etm@openssh.com,hmac-sha2-512

Banner /etc/issue.net

AcceptEnv LANG LC_*


# This is system dependent - check it.
# Subsystem sftp /usr/libexec/sftp-server
